html{
    height: 100%;
    user-select: none;
}
body{
    background: url(../media/logo_vector.svg) bottom left;
    background-repeat: no-repeat;
    background-size: auto 80%;
    margin: 0px;
    font-family: Roboto, sans-serif;
    background-color: rgb(32, 34, 37);
    height: 100%;
}

.navbar{
    display: grid;
    grid-template-columns: 160px auto 200px;
    grid-template-rows: 50px;
    background-color: rgb(54, 57, 63);
    gap: 10px 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(30, 30, 30, 0.5);
}
.navlinks{

    line-height: 20px;
    padding-top: 16px;
    padding-left: 40px;
    
}


.searchbar_wrapper{

    position: relative;

}

.navbar .searchbar_wrapper button{
    position: relative;
    left: calc(100% - 30px);
    bottom: 27px;
    background: transparent;
    border: none;

}

.home_search .searchbar_wrapper button{
    position: relative;
    left: calc(100% - 30px);
    bottom: 45px;
    background: transparent;
    border: none;

}

.navlink{
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(226, 226, 226);
    padding-left: 10px;
    transition: color 0.5s;
}
.navlink:hover{

    color: white;

}

.searchbar{
    width: calc(100% - 20px);
    border-radius: 40px;
    padding: 4px 10px;
    height: 26px;
    margin: 0px;
    margin-top: 10px;
    border: none;
    background-color:rgb(226, 226, 226);
    box-shadow: inset 0px 2px 5px rgba(30, 30, 30, 0.5);
}
.navbar input[type='text']{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(32, 34, 37);
    text-decoration: none;
}

.home_search input[type='text']{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(32, 34, 37);
    text-decoration: none;
}
.home_search button{
    font-size: 30px;
}


input:focus, textarea:focus, select:focus{
    outline: none;
}

.nav_active{
    font-weight: 900;
}

#content_home{

    height: 100%;
    grid-template-columns: auto 470px 470px auto;
    grid-template-rows: 30% 200px;
    gap: 20px 100px;
}

.home_greeting{
    grid-column-start: 2;
    grid-row-start: 2;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: rgb(226, 226, 226);
    text-align: right;
}

.home_search{
    grid-column-start: 3;
    grid-row-start: 2;
}

.home_searchbar{
    border-radius: 40px;
    padding: 4px 20px;
    height: 40px;
    margin-top: 40px;
    
    width: calc(100% - 20px);
    border: none;
    background-color:rgb(226, 226, 226);
    box-shadow: inset 0px 2px 5px rgba(30, 30, 30, 0.5);
}
.pages{
    height: calc(100% - 70px);
}

.content_container{
    display: none;
}

.content_active{
    display: grid;
}

.menu_button{
    font-size: 30px;
    color:rgb(226, 226, 226);
    background: transparent;
    display: none;
    border: none;
    border-radius: 5px;
    
}

.logo{
    min-width: 160px;
    min-height: 43px;
    width: 160px;
    height: 43px;
    background-image: url(../media/logo_nav_full.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {

    .Logo{
        min-width: 73px;
        min-height: 43px;
        width: 73px;
        height: 43px;
        background-image: url(../media/logo_nav_short.png);
        background-repeat: no-repeat;
    }
    .navbar{
        grid-template-columns: 73px auto 200px;
        gap: 10px 10px;
        padding: 10px;
    }
    .navlinks{
        padding-left: 10px;
    }


}




@media only screen and (max-width: 730px) {

    .navlinks{

        display: none;
        
    }

    .menu_button{

        display: inline;

    }

   

    .navbar{
        grid-template-columns: 73px auto 40px;
        gap: 10px 10px;
        padding: 10px;
    }

    .home_search{
        display: none;
    }

    #content_home{

        height: 100%;
        grid-template-columns: auto ;
        grid-template-rows: 5% 200px;
        gap: 20px 20px;

    }

    .home_greeting{
        grid-column-start: 1;
        grid-row-start: 2;

        text-align: center;
    }
  }



 #content_about, #content_feedback{
    height: 70%;
    width: 100%;
    background-image: url(../media/construction.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: min(100%, 600px);
  }


  #content_results{
    grid-template-columns: auto 300px 300px 300px 300px 300px auto;
    grid-template-rows: auto;
    gap: 40px 2%;
    margin-top: 40px;
}

.result_card{
    display: block;
    width: auto;
    height: auto;
    background-color: rgb(54, 57, 63);
    position: relative;
    outline: solid 5px rgb(54, 57, 63);
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.result_card:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.avatar{
    width: 80px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    bottom: 5px;
    box-shadow: 0px 2px 5px rgba(30, 30, 30, 0.5);
}
.gradient{
    background: linear-gradient(180deg, rgba(55,62,255,0) 10%, rgba(54,57,63,1) 93%);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 168px;
}

.stream_username{
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(226, 226, 226);
    position: absolute;
    left: 90px;
    bottom: 30px;
    line-height: 0px;

}

.stream_title{
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(226, 226, 226);
    position: absolute;
    left: 90px;
    bottom: 16px;
    width:  200px;
    line-height: 12px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream_viewers{
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(200, 0, 0);
    position: absolute;
    right: 0px;
    bottom: 0px;
    line-height: 0px;

}

.result_label{
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(226, 226, 226);
    position: absolute;
    top: -40px;
    left: -10px;
    line-height: 30px;
    background-color: rgb(174, 128, 255);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: block;
    box-shadow: 0px 2px 5px rgba(30, 30, 30, 0.5);
}

#suggestheader{

    grid-column-start: 2;
    grid-column-end: span 5;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(226, 226, 226);
    border-bottom: 4px solid rgb(54, 57, 63);
}

#split{
        grid-column-start: 2;
        grid-column-end: span 5;
        grid-row-start: 3;
        font-family: Roboto, sans-serif;
        font-size: 25px;
        font-weight: 300;
        text-decoration: none;
        color: rgb(226, 226, 226);
        border-bottom: 4px solid rgb(54, 57, 63);
}