html{
    height: 100%;
}
body{
    background: url(../media/logo_vector.svg) bottom left;
    background-repeat: no-repeat;
    background-size: auto 80%;
    margin: 0px;
    font-family: Roboto, sans-serif;
    background-color: rgb(32, 34, 37);
    height: 100%;
}

.navbar{
    display: grid;
    grid-template-columns: 160px auto 200px;
    grid-template-rows: 50px;
    background-color: rgb(54, 57, 63);
    gap: 10px 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(30, 30, 30, 0.5);
}
.navlinks{

    line-height: 20px;
    padding-top: 16px;
    padding-left: 40px;
    
}

.searchbar_wrapper{

    position: relative;

}

.navbar .searchbar_wrapper button{
    position: relative;
    left: calc(100% - 30px);
    bottom: 27px;
    background: transparent;
    border: none;

}

.home_search .searchbar_wrapper button{
    position: relative;
    left: calc(100% - 30px);
    bottom: 45px;
    background: transparent;
    border: none;

}

.navlink{
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(226, 226, 226);
    padding-left: 10px;
}
.navlink:hover{

    color: white;

}

.searchbar{
    width: calc(100% - 20px);
    border-radius: 40px;
    padding: 4px 10px;
    height: 26px;
    margin: 0px;
    margin-top: 10px;
    border: none;
    background-color:rgb(226, 226, 226);
    box-shadow: inset 0px 2px 5px rgba(30, 30, 30, 0.5);
}
.navbar input[type='text']{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(32, 34, 37);
    text-decoration: none;
}

.home_search input[type='text']{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(32, 34, 37);
    text-decoration: none;
}
.home_search button{
    font-size: 30px;
}


input:focus, textarea:focus, select:focus{
    outline: none;
}

.nav_active{
    font-weight: 900;
}

#content_home{

    height: 100%;
    grid-template-columns: auto 470px 470px auto;
    grid-template-rows: 30% 200px;
    gap: 20px 100px;
}

.home_greeting{
    grid-column-start: 2;
    grid-row-start: 2;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: rgb(226, 226, 226);
    text-align: right;
}

.home_search{
    grid-column-start: 3;
    grid-row-start: 2;
}

.home_searchbar{
    border-radius: 40px;
    padding: 4px 20px;
    height: 40px;
    margin-top: 40px;
    
    width: calc(100% - 20px);
    border: none;
    background-color:rgb(226, 226, 226);
    box-shadow: inset 0px 2px 5px rgba(30, 30, 30, 0.5);
}
.pages{
    height: calc(100% - 70px);
}

.content_container{
    display: none;
}

.content_active{
    display: grid;
}

.menu_button{
    font-size: 30px;
    color:rgb(226, 226, 226);
    background: transparent;
    display: none;
    border: none;
    border-radius: 5px;
    
}

.Logo{
    min-width: 160px;
    min-height: 43px;
    width: 160px;
    height: 43px;
    background-image: url(../media/logo_nav_full.png);
    background-repeat: no-repeat;
}

@media only screen and (max-width: 850px) {

    .Logo{
        min-width: 73px;
        min-height: 43px;
        width: 73px;
        height: 43px;
        background-image: url(../media/logo_nav_short.png);
        background-repeat: no-repeat;
    }
    .navbar{
        grid-template-columns: 73px auto 200px;
        gap: 10px 10px;
        padding: 10px;
    }
    .navlinks{
        padding-left: 10px;
    }


}




@media only screen and (max-width: 730px) {

    .navlinks{

        display: none;
        
    }

    .menu_button{

        display: inline;

    }

   

    .navbar{
        grid-template-columns: 73px auto 40px;
        gap: 10px 10px;
        padding: 10px;
    }

    .home_search{
        display: none;
    }

    #content_home{

        height: 100%;
        grid-template-columns: auto ;
        grid-template-rows: 5% 200px;
        gap: 20px 20px;

    }

    .home_greeting{
        grid-column-start: 1;
        grid-row-start: 2;

        text-align: center;
    }
  }



 #content_about, #content_feedback{
    height: 70%;
    width: 100%;
    background-image: url(../media/construction.png);
    background-repeat: no-repeat;
    background-position: center;
  }